* {
    background-position: center;
}

h1 {
    font-family: monsterat;
    text-align: center;
    color: white;
}

.front {
    background-color: white;
    background-image: url(../assets/logos/Machu-Picchu-logo.png);
    background-size: cover;
    h1 {
        font-size: 60px;
        color: white;
    }

    h3 {
        text-align: center;
        margin-left: 40%;
        color: white;
    }
    
    .grid-container {
        display: grid;  
        grid-template-columns: auto auto;
    }
}

.about {
    #about-us {
        background-image: url(../assets/images/landing_page.JPG);
        background-size: cover;
    }

    #about-image {
        height:100%;
        widtch:50%;
    }

    .grid-container{
        display: grid;  
        grid-template-columns: 50% 50%;
        padding:10%;
    }

    #mapid { 
        height: 90%; 
        // width: 80%;
    }

    h1 {
        color: white;
    }

    #information {
        color: black;
        background-color: white;
    }

    p {
       font-size: 20px;     
    }
}

.schedule {
    background-color: #ad62aa;

    .table-responsive {
        font-size: 20px;
        text-align: center;
        align-items: center;
        width: 80%;
        margin-left: 10%;
    }
    #schedule-page {
        background-image: url(../assets/images/san-pedro.JPG);
        background-size: cover;
    }

    #lima {

    }

    #san-pedro {
        
    }
}

.flights {
    background-image: url(../assets/images/peru-flag.JPG);
    background-size: cover;

    input.LocationAutosuggest__input___2M51F {

    }
    
    h1 {
        color: black;
    }

    .SearchWidget {
        padding: 10;
        color: white;
    }
}

.learning-modules {
    .btn{
        align-content: center;
        margin-top: 10%;
        margin-left: 46.5%;
    }
}

.contact {
    background-position: top;
    background-image: url(../assets/images/volunteers.JPG);
    color: white; 
}

.typeform-widget {
    width: 100%; 
    height:  100%;
}
